@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');

.Sobre {
  padding: 50px;
  background-color: #000000;
  color: white;
  padding-top: 9%;
  position: relative;
}

.content-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.Sobre p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  padding-top: 5%;
}

.text-content {
  text-align: left;
  max-width: 55%;
}

.lupinha {
  position: absolute; 
  right: 0; 
  top: 0;

}

.blocudos {

  position: absolute;
  right:5%;
  top:65%;
}


@media (max-width: 768px) {
  .Sobre {
    padding: 4vh 4vw;
    padding-top: 12vh;
  }

  .content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .text-content {
    max-width: 90%; 
    text-align: center;
  }

  .Sobre p {
    font-size: 1.125rem; 
    padding-top: 8vh;
  }

  .lupinha {
    top: 1vh;
    right: 1vw;
    visibility: hidden;
  }

  .blocudos {
    top: auto;
    bottom: 2vh; 
    right: 5%;
    visibility: hidden;
  }
}

@media (max-width: 480px) {
  .Sobre {
    padding: 3vh 3vw;
    padding-top: 15vh;
    width: 55rem;
    align-self:flex-start;
    margin-left: 9vw;
  }

  .Sobre p {
    font-size: 1rem; 
  }

  .blocudos {
    right: 2vw;
    bottom: 1vh;
    visibility: hidden;
  }

  
  .lupinha {
    top: 1vh;
    right: 1vw;
    visibility: hidden;
  }
}


